@model CryptoFoi.Models.CipherViewModel

@{
    var types = (string[])ViewData["Type"];
}

<div class="form-horizontal">

    <div class="form-group">
        <label class="text-danger control-label">@Model.FileError</label>
    </div>

    <div class="form-group">
        @Html.Label("File", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="btn btn-default btn-file">
                <input type="file" name="file" accept=".txt">
            </label>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Method:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList(string.Format("Method_{0}_{1}", types[0], types[1]), Model.CryptMethods, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" name="cryptDirection" value="@types[0]" class="btn btn-info" />
        </div>
        <div class="col-md-2">
            <input type="submit" name="signDirection" value="@types[1]" class="btn btn-info width-111" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-success">
             @Model.SuccessResult
        </div>
    </div>
</div>