@model CryptoFoi.Models.CipherViewModel

@{
    ViewBag.Title = "Crypto";
}

<h2>Crypto</h2>


@using (Html.BeginForm("Index",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="exTab1" class="container">
        <ul class="nav nav-pills">
            <li class="@((ViewBag.Tab != null && (ViewBag.Tab == "Encryption" || ViewBag.Tab == "Sign")) ? "active" : string.Empty)">
                <a href="#encrypt" data-toggle="tab">Encryption</a>
            </li>
            <li class="@((ViewBag.Tab != null && (ViewBag.Tab == "Decryption" || ViewBag.Tab == "Verify")) ? "active" : string.Empty)">
                <a href="#decrypt" data-toggle="tab">Decryption</a>
            </li>
            <li class="@((ViewBag.Tab != null && ViewBag.Tab == "Download" || ViewBag.Tab == "Hash") ? "active" : string.Empty)">
                <a href="#files" data-toggle="tab">Files</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane @((ViewBag.Tab != null && (ViewBag.Tab == "Encryption" || ViewBag.Tab == "Sign")) ? "active" : string.Empty)" id="encrypt">
                @Html.Partial("Crypto", Model, new ViewDataDictionary { { "Type", new string[] { "Encryption", "Sign" } } })
            </div>
            <div class="tab-pane  @((ViewBag.Tab != null && (ViewBag.Tab == "Decryption" || ViewBag.Tab == "Verify")) ? "active" : string.Empty)" id="decrypt">
                @Html.Partial("Crypto", Model, new ViewDataDictionary { { "Type", new string[] { "Decryption", "Verify" } } })
            </div>
            <div class="tab-pane @((ViewBag.Tab != null && ViewBag.Tab == "Download" || ViewBag.Tab == "Hash") ? "active" : string.Empty)" id="files">
                @Html.Partial("Files", Model)
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
